<div class="section">
    <h2 data-heading="My Intro" class="section__title mb-5 ">My Portfolio</h2>
<div class="container all-cards">
    <div class="row">
        <owl-carousel-o [options]="customOptions" >

            <ng-template carouselSlide>
                <div class="col-lg-6">
                    <div class="card">
                        <img src="https://i.postimg.cc/T2BrsYyd/alga.png" alt="">
                        <div class="descriptions">
                            <div class="card-title">Alga Template</div>
                            <div class="text-muted">
                                Full store Website that contains a page for products, categories, cart, and login, 
                                used fake API for products and Firebase Authentication API for user login with Angular.
                            </div>
                            <div class="tech"> 
                                <span class="tech-item">HTML5</span>
                                <span class="tech-item">SCSS</span>
                                <span class="tech-item">Js/Ts</span>
                                <span class="tech-item">Bootstrap</span>
                                <span class="tech-item">Angular</span>
                                <span class="tech-item">Rest-APIs</span>
                            </div>
                            <div class=" card-icons">
                                <a href="https://hagerdabaka.github.io/AlgaEcommerce/products" > <i class="fa-regular fa-eye"></i> </a>
                                <a href="https://github.com/hagerdabaka/AlgaEcommerce"> <i class="fa-brands fa-github"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template> 
            
            <ng-template carouselSlide> 
                <div class="col-lg-6">
                 <div class="card">
                     <img src="https://i.postimg.cc/JhtNgyQh/notes.png" alt="">
                     <div class="descriptions">
                         <div class="card-title">NoteBy. (Using Lazy Loading)</div>
                         <div class="text-muted">
                            The Note Website uses Angular, features lazy loading, role-based authentication, validation, routing, components, and layouts.
                             It allows admin and user access to add, edit, and delete notes.
                                 </div>
                         <div class="tech"> 
                            <span class="tech-item">HTML5</span>
                            <span class="tech-item">SCSS</span>
                            <span class="tech-item">Js/Ts</span>
                            <span class="tech-item">Bootstrap</span>
                            <span class="tech-item">Angular/Angular Material</span>
                         </div>
                         <div class=" card-icons">
                             <a href="https://github.com/hagerdabaka/NoteBy"> <i class="fa-brands fa-github"></i> </a>
                         </div>
                     </div>
                 </div>
             </div>
            </ng-template>  

            <ng-template carouselSlide>
                <div class="col-lg-6">
                    <div class="card">
                        <img src="https://i.postimg.cc/X789YKHJ/movieapp.png" alt="">
                        <div class="descriptions">
                            <div class="card-title">Streamit Template</div>
                            <div class="text-muted">
                                Streamit is an angular movie website that allows users to search for movies by title,
                                 sort them by genre, view trending and upcoming movies, and bookmark their favorite movies
                            </div>
                            <div class="tech"> 
                                <span class="tech-item">HTML5</span>
                                <span class="tech-item">SCSS</span>
                                <span class="tech-item">Js/Ts</span>
                                <span class="tech-item">Bootstrap</span>
                                <span class="tech-item">Angular</span>
                                <span class="tech-item">Rest-APIs</span>
                            </div>
                            <div class=" card-icons">
                                <a href="https://hagerdabaka.github.io/Streamit-MovieApp/" > <i class="fa-regular fa-eye"></i> </a>
                                <a href="https://github.com/hagerdabaka/Streamit-MovieApp"> <i class="fa-brands fa-github"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            
            <ng-template carouselSlide>
                <div class="col-lg-6">
                    <div class="card">
                        <img src="https://i.postimg.cc/kXntz6Jd/crepto.png" alt="">
                        <div class="descriptions">
                            <div class="card-title">CRYPTO CHECKER YT</div>
                            <div class="text-muted">
                                The cryptocurrency finance price tracker app uses Angular API for API calls, routing, 
                                and RxJS features, updating prices live with data from a public API.
                            </div>
                            <div class="tech"> 
                                <span class="tech-item">HTML5</span>
                                <span class="tech-item">SCSS</span>
                                <span class="tech-item">Bootstrap</span>
                                <span class="tech-item">Js/Ts</span>
                                <span class="tech-item">Angular</span>
                                <span class="tech-item">Rest-APIs</span>
                               
                            </div>
                            <div class=" card-icons">
                                <a href="https://hagerdabaka.github.io/cryptoCurrency/coin-list" > <i class="fa-regular fa-eye"></i> </a>
                                <a href="https://github.com/hagerdabaka/cryptoCurrency"> <i class="fa-brands fa-github"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  

            <ng-template carouselSlide> 
           <div class="col-lg-6">
            <div class="card">
                <img src="https://i.postimg.cc/DZr8YFRZ/dashboard.png" alt="">
                <div class="descriptions">
                    <div class="card-title">Admin Dashboard</div>
                    <div class="text-muted">
                        The system offers a personalized view of BI performance, administrative actions, detailed analyses,
                         images, graphs, pie charts, and reports, allowing product addition, update, and deletion
                    </div>
                    <div class="tech"> 
                        <span class="tech-item">HTML5</span>
                        <span class="tech-item">SCSS</span>
                        <span class="tech-item">Js/Ts</span>
                        <span class="tech-item">Bootstrap</span>
                        <span class="tech-item">Angular/Angular Material</span>
                    </div>
                    <div class=" card-icons">
                        <a href="https://hagerdabaka.github.io/Dashboard/home" > <i class="fa-regular fa-eye"></i> </a>
                        <a href="https://github.com/hagerdabaka/Dashboard"> <i class="fa-brands fa-github"></i> </a>
                    </div>
                </div>
            </div>
        </div>
            </ng-template>  

            <ng-template carouselSlide> 
                <div class="col-lg-6">
                 <div class="card">
                     <img src="https://i.postimg.cc/qMRv28Bg/appCo.png" alt="">
                     <div class="descriptions">
                         <div class="card-title">App-Co (Landing page)  </div>
                         <div class="text-muted">
                            This website is a marketing and advertising campaign
                             for a programming and marketing company called (App-Co)
                         </div>
                         <div class="tech"> 
                             <span class="tech-item">HTML5</span>
                             <span class="tech-item">CSS</span>
                             <span class="tech-item">Js</span>
                             <span class="tech-item">Bootstrap</span>

                         </div>
                         <div class=" card-icons">
                             <a href="" > <i class="fa-regular fa-eye"></i> </a>
                             <a href=""> <i class="fa-brands fa-github"></i> </a>
                         </div>
                     </div>
                 </div>
             </div>
            </ng-template>  

            <ng-template carouselSlide> 
                    <div class="col-lg-6">
                     <div class="card">
                         <img src="https://i.postimg.cc/7PCx6qKT/book-Train.png" alt="">
                         <div class="descriptions">
                             <div class="card-title">Book Your Train</div>
                             <div class="text-muted">
                                This website offers train ticket booking with real API integration, 
                                covering search, results, registration, login, and ticket booking for various destinations.                             </div>
                             <div class="tech"> 
                                <span class="tech-item">HTML5</span>
                                <span class="tech-item">SCSS</span>
                                <span class="tech-item">Js/Ts</span>
                                <span class="tech-item">Bootstrap</span>
                                <span class="tech-item">Angular/Angular Material</span>
                             </div>
                             <div class=" card-icons">
                                 <a href="https://github.com/hagerdabaka/BookingTrain"> <i class="fa-brands fa-github"></i> </a>
                             </div>
                         </div>
                     </div>
                 </div>
            </ng-template>  

            <ng-template carouselSlide> 
                <div class="col-lg-6">
                 <div class="card">
                     <img src="https://i.postimg.cc/PJKcyp4M/crud2.png" alt="">
                     <div class="descriptions">
                         <div class="card-title">Employee's System</div>
                         <div class="text-muted">
                            Angular crud using JSON server rest API with reactive forms. This website offers creating employees list, 
                            add, edit and remove from the list. you can change light or dark mode.
                                 </div>
                         <div class="tech"> 
                            <span class="tech-item">HTML5</span>
                            <span class="tech-item">SCSS</span>
                            <span class="tech-item">Js/Ts</span>
                            <span class="tech-item">Bootstrap</span>
                            <span class="tech-item">Angular/Angular Material</span>
                         </div>
                         <div class=" card-icons">
                             <a href="https://github.com/hagerdabaka/JsonCrud"> <i class="fa-brands fa-github"></i> </a>
                         </div>
                     </div>
                 </div>
             </div>
        </ng-template>  

    </owl-carousel-o>
    </div>
</div>
</div>

