
<div class="container ">
    <h2 data-heading="My Intro" class="section__title"> Education</h2>
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 " style="text-align: center;">
                        <img src="https://i.postimg.cc/9Mjpsmgw/pngegg-1.png" alt="Computer man" class="animate__animated animate__pulse animate__infinite img-fluid"
                            style="width:180px;height:auto;">
                    </div>
                    <div class="col-lg-5">
                        <div classs="timeline">
                            <div class="timeline_item">
                                <div class="circle_dot"></div>
                                <h4 class=""> Faculty of computers and informations </h4>
                                <div>
                                    <span class="text-muted"> Department:</span> Computer science
                                </div>
                                <div>
                                    <span class="text-muted"> University:</span> Munofia
                                </div>
                                <span class="timeline_date"><i class="uil uil-calendar-alt"></i>
                                    2018 -2022
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 <div style="border: .1px solid rgba(0, 0, 0, 0.308) ; margin: 2% 3%;"></div> 

    <div class="container ">
        <div class="row ">
            <div class="col-lg-4">
                <div class="timeline_item">
                    <div class="circle_dot"></div>
                    <h3 class="timeline_title">Angular</h3>
                    <p class="timeline_text"> <span class="text-muted">From :</span> Udemy (Maximilian)</p>
                    <p style="color: var(--text2-color);"><span class="text-muted">skills:</span>
                        Angular · Angular CLI · Angular Material · TypeScript ·  NgRx ·  RxJS ·  Problem Solving · OOP · REST APIs · Responsive Web Design ·  Software Development 
                    </p>
                    <span class="timeline_date"><i class="uil uil-calendar-alt"></i>
                       <span class="text-muted"> Nov 2022 - Jan 2023</span> 
                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="timeline_item">
                    <div class="circle_dot"></div>
                    <h3 class="timeline_title">Web Development</h3>
                    <p class="timeline_text"> <span class="text-muted">From : </span> ITI</p>
                    <p style="color: var(--text2-color);"><span class="text-muted">skills:</span>
                        HTML5 · Bootstrap · JavaScript · CSS · Angular · TypeScript · ReactJs.
                    </p>
                    <div class="timeline_date"><i class="uil uil-calendar-alt"></i>
                       <span class="text-muted">Jul 2021 - Sep 2021</span> 
                    </div>
                </div>
            </div>
 

            <div class="col-lg-4 mb-5">
                <div class="timeline_item mb-5">
                    <div class="circle_dot"></div>
                    <h3 class="timeline_title">UXD</h3>
                    <p class="timeline_text">  ITI (MharaTech)</p>

                    <div class="timeline_date"><i class="uil uil-calendar-alt"></i>
                       <span class="text-muted">Jul 2021 - Sep 2021</span> 
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>