<!--======= Home =====-->
<section class="home" id="home">
    <div class="home__container container grid">
        <div class="home_social mb-5 animate__animated  animate__fadeInDown">
            <span class="home__social-follow">Follow Me</span>
            <div class="home__social-links">
                <a href="https://www.facebook.com/hager.mdabaka/" target="_blank" class="home__social-link">
                    <i class="uil uil-facebook-f"></i>
                </a>
            </div>
            <div class="home__social-links">
                <a href="https://github.com/hagerdabaka" target="_blank" class="home__social-link">
                    <i class="uil uil-github"></i>
                </a>
            </div>
            <div class="home__social-links">
                <a href="https://www.linkedin.com/in/hager-dabaka-6a0980213/" target="_blank" class="home__social-link">
                    <i class="uil uil-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="home__data py-5 my-5   col-lg-8">
            <h1 class="home__title mt-4">Hi, I'm Hager Dabaka </h1>
            <h3 class="home__subtitle"> Frontend Developer</h3>
            <div class="home__desc"> High level experience in web design and development Knwoledge ,
                producing quality work.
            <div class="text-muted">
                Seeking a Front-End developer position where I can utilize my technical skills in Front-End technologies
                along with my communication and problem-solving skills in a well reputed software solutions company.
            </div>
        </div>

        <div class="col-lg-3">
            
        </div>

            <a routerLink="about" class="button" routerLink="/about">
                <i class="uil uil-user button__icon"></i>
                More About Me
            </a>
        </div>
        <div class="container animate__animated  animate__fadeInUp  mb-5">
            <div class="row ">
                <div class="col-lg-3">
                    <div class="info__item my-2">
                        <i class="fa-brands fa-linkedin-in info__icon"></i>
                        <div>
                            <h3 class="info__title">Linkedin</h3>
                            <span class="info__subtitle">Hager Dabaka</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info__item my-2">
                        <i class="uil uil-whatsapp info__icon"></i>
                        <div>
                            <h3 class="info__title">watsapp</h3>
                            <span class="info__subtitle">01097129509</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info__item my-2 mb-5 ">
                        <i class="uil uil-envelope-edit info__icon"></i>
                        <div>
                            <h3 class="info__title ">Email</h3>
                            <span class="info__subtitle">hagerdabaka@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>